########################
# Groq
########################

GROQ_API_KEY=

########################
# Weaviate
########################

WEAVIATE_HOST=
WEAVIATE_PORT=443
WEAVIATE_GRPC_PORT=443

########################
# API
########################

API_CORS_ORIGINS=http://localhost:5173

########################
# Models
########################

GROQ_COMPRESSOR_MODEL=llama-3.1-8b-instant
GROQ_ANSWER_MODEL=openai/gpt-oss-20b
GROQ_TRANSCRIPTION_MODEL=whisper-large-v3-turbo